<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./register.css">
</head>

<body>
    <div class="auth-container">
        <h2>Register</h2>
        <form id="registerForm">
            <label>Name</label>
            <input type="text" id="name" required />

            <label>Email</label>
            <input type="email" id="email" required />

            <label>Password</label>
            <input type="password" id="password" required />

            <button type="submit" class="btn primary">Register</button>
        </form>
        <p>Already have an account? <a href="#" id="goToLogin">Login</a></p>
    </div>

    <script type="module" src="../../../constant.js"></script>
    <script type="module" src="./register.js"></script>
</body>


</html>