* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}

.header {
  position: fixed; 
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 30px;
  background: black;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 1000;
}

.header.scrolled {
    background: #000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.auth-actions {
  display: flex;
  gap: 12px;
}

.auth-btn {
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.auth-btn.outline {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.auth-btn.outline:hover {
  background: rgba(255, 255, 255, 0.15);
}

.auth-btn.primary {
  background-color: #2563eb;
  border: none;
  color: #ffffff;
}

.auth-btn.primary:hover {
  background-color: #1e4fd8;
}

.hero {
    height: 75vh;
    background-image: url("../assets/images/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 120px 20px 40px 20px;;
    margin-top: 0;
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: 2.8rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

main {
    display: flex;
    gap: 20px; 
    padding: 20px;
}

.hidden {
  display: none !important;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  cursor: pointer;
}

main {
    align-items: flex-start;
}

#jobList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    flex: 1;          
    width: 100%;
}

.filter-box {
    width: 260px;
    flex-shrink: 0;

    height: fit-content;
    max-height: calc(100vh - 100px);
    overflow-y: auto;

    position: sticky;
    top: 90px; 
}

@media screen and (min-width: 1800px) {
    #jobList {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 1600px) {
    #jobList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1366px) {
    #jobList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    #jobList {
        grid-template-columns: repeat(2, 1fr);
    }
}

