* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    transition: background 0.3s ease;
    z-index: 1000;
}

.header.scrolled {
    background: #000;
}

.logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.hero {
    height: 75vh;
    background-image: url("../assets/images/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 120px 20px 40px 20px;;
    margin-top: 0;
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: 2.8rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

main {
    display: flex;
    gap: 20px; 
    padding: 20px;
}

/* Web Responsive  */
@media screen and (max-width: 1400px) {
    .job-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    .job-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .job-list {
        grid-template-columns: 1fr;
    }
}

