.job-details-page {
  max-width: 1000px;
  margin: 80px auto 40px auto;
  padding: 20px;
}

#backLink {
  position: fixed;
  top: 90px;        
  left: 20px;
  z-index: 9999;

  text-decoration: none;
  color: #1a73e8;
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
}

#backLink:hover {
  text-decoration: underline;
}

#jobDescription {
  background: #fff;
  padding: 28px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.job-desc-header h2 {
  margin-bottom: 4px;
}

.meta {
  color: #666;
  font-size: 14px;
}

.tags {
  margin-top: 10px;
}

.tags span {
  background: #e8f0fe;
  color: #1a73e8;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 6px;
}

section {
  margin-top: 24px;
}

section h3 {
  margin-bottom: 8px;
  color: #333;
}

section ul {
  padding-left: 18px;
}

.skills li {
  list-style: "✔ ";
  margin-left: 8px;
}

.job-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin-top: 20px;
}

.apply-btn {
  margin: 30px auto 0 auto; 
  display: block;           
  width: 180px;             
  padding: 12px 0;          
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.apply-btn:hover {
  background: #1558c0;
}

.apply-btn.applied {
  background: #1a73e8;
  padding: 12px 0;
  width: 150px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 10px;
  cursor: default;
}

.apply-btn.applied:hover {
  background: #1558c0;
  transform: none;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.header .logo {
  font-size: 22px;
  font-weight: 700;
}

.job-details-page {
  padding-top: 70px;
  margin-top: 0;
}
